<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Admin Dashboard </title>
</head>
<body>

<h1>

    Hello world this is final project of flask python

</h1>

<h2>
    Add Faculty administration

    <form action="/teacher" method="post">
        <select>
            <option value="teacher">Teacher</option>
        </select>
         <input type="submit" name="submit" value="Submit">
    </form>

    <br><br>


    <form action="/student" method="post">
        <select>
            <option value="student">student</option>
        </select>
         <input type="submit" name="submit" value="Submit">
    </form>


</h2>

</body>
</html>